[filemanager]
Quit = q; esc; f10
PanelOther = tab
Up = up
Down = down
PageUp = pgup
PageDown = pgdn
Home = home
End = end
Enter = enter; f3
CdUp = backspace
Reread = r; ctrl-r
ToggleTag = insert; ctrl-t
InvertTags = alt-asterisk
OpenJobs = ctrl-j
Copy = f5
Move = f6
Delete = f8
CancelJob = alt-j
SortNext = shift-f6
SortReverse = shift-f8
OpenConfirmDialog = f2
OpenInputDialog = f7
OpenListboxDialog = f9

[dialog]
Ok = enter
Cancel = esc
FocusNext = tab

[input]
Ok = enter
Cancel = esc
Backspace = backspace

[listbox]
Up = up
Down = down
Ok = enter
Cancel = esc

[menu]
Up = up
Down = down
Ok = enter
Cancel = esc

[jobs]
Up = up
Down = down
CancelJob = alt-j
CloseJobs = esc; q

[editor]
Quit = f10
Up = up
Down = down
PageUp = pgup
PageDown = pgdn
Home = home
End = end

[viewer]
Quit = f10; esc; q
Up = up
Down = down
PageUp = pgup
PageDown = pgdn
Home = home
End = end
Search = f7; ctrl-s
SearchBackward = shift-f7
SearchContinue = n
SearchContinueBackward = shift-n
Goto = g; alt-l
ToggleWrap = w

[viewer:hex]
Up = up
Down = down
PageUp = pgup
PageDown = pgdn
Home = home
End = end

[diffviewer]
Quit = f10
Up = up
Down = down
PageUp = pgup
PageDown = pgdn
Home = home
End = end

[filemanager:xmap]
PanelOther = alt-question
Reread = ctrl-backslash
